<div class="container-fluid" style="padding-bottom: 50px">
	<div class="row">
		<div class="col-sm-12">
			<div ng-include="'partials/core/login_nav.html'" ng-controller="LoginCtrl as login"></div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2  ui-view-container">
			<ul>
				<li>
					<a ui-sref="events">
						Events
					</a>
				</li>
				<li>
					<a ui-sref="profile">
						Profile
					</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-10 well" ui-view="mainView">
		</div>
	</div>
</div>

<div class="container" style="padding-top: 50px">
	<foooter>
		<app-version></app-version>
	</foooter>
</div>
